<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PunchSystem.Properties.Settings.programpunchsystemConnectionString"
            connectionString="server=localhost;user id=root;database=programpunchsystem;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="PunchSystem.Properties.Settings.programpunchsystemConnectionString1"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=programpunchsystem"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>